{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block includes %}
  <link rel="stylesheet" href="{% static '/assets/rcue/css/rcue.css' %}">
  <link rel="stylesheet" href="{% static '/assets/rcue/css/rcue-additions.css' %}">
  <link rel="stylesheet" href="{% static '/assets/css/index.css' %}">
{% endblock %}

{% block pagetitle %}
{% trans "product discovery" %}
{% endblock %}

{% block pagelogo %}
<img src="{% static '/assets/images/logo-brand.svg' %}" alt="logo" style="height: 40px;"/>
{% endblock %}

{% block title %}
<img class="login-title-img-brand"  src="{% static '/assets/images/title-brand.svg' %}" alt="{% trans "product discovery" %}">
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger">
  <span class="pficon pficon-error-circle-o"></span>
  {% trans "The username or password you entered is incorrect." %}
</div>
{% endif %}

<form class="form-horizontal" role="form" method="post">
  <div class="form-group">
    {% csrf_token %}
    <label for="id_username" class="col-sm-2 col-md-2 control-label">{% trans "Username" %}</label>
    <div class="col-sm-10 col-md-10">
      <input type="text" class="form-control" placeholder="" tabindex="1" maxlength="254" id="id_username" name="username" required autofocus>
    </div>
  </div>
  <div class="form-group">
    <label for="id_password" class="col-sm-2 col-md-2 control-label">{% trans "Password" %}</label>
    <div class="col-sm-10 col-md-10">
      <input type="password" class="form-control" placeholder="" tabindex="2" id="id_password" name="password" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-8 col-sm-offset-2 col-sm-6 col-md-offset-2 col-md-6">
      <!--
      <div class="checkbox">
        <label>
          <input type="checkbox" tabindex="3"> Remember username
        </label>
      </div>
      <span class="help-block"> Forgot <a href="javascript:void(0)" tabindex="5">username</a> or <a href="javascript:void(0)" tabindex="6">password</a>?</span>
      -->
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 submit">
      <button type="submit" class="btn btn-primary btn-lg" tabindex="4">{% trans "Log In" %}</button>
    </div>
  </div>
</form>
{% endblock %}

{% block description %}
<p>
  <strong>{% trans "Welcome to product discovery!" %}</strong>
  This inspection and reporting tool is designed to identify and report environment
  data, or facts, such as the number of physical and virtual systems on a network, their operating systems,
  and other configuration data.
</p>

{% endblock %}
