.text-overflow-pf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }

/* _overrides.scss */
.about-modal-pf {
  background-color: #1a1a1a;
  background-image: url("../images/about-bg.png");
  background-size: 50% auto; }
  .about-modal-pf .modal-footer > img {
    height: 28px; }

.navbar-pf-vertical .navbar-brand .navbar-brand-name {
  height: 26px;
  margin-top: 6px; }

.list-view-pf-top-align .list-view-pf-additional-info, .list-view-pf-top-align .list-view-pf-description {
  align-self: flex-start; }

@media (min-width: 768px) {
  .toolbar-pf-actions .form-group:first-of-type {
    padding-left: 0; } }

.quipucords .fadein {
  opacity: 0;
  animation: fadein .25s ease-in forwards;
  animation-delay: .25s; }

@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.label abbr, label abbr {
  border-bottom: none;
  text-decoration: none; }

.quipucords-about-modal-copy-footer {
  margin-top: -28px;
  text-align: right; }

.quipucords-about-modal-copy-button {
  box-shadow: 0 0 3px #d1d1d1; }

.quipucords-about-modal-list {
  box-shadow: 0 0 2px #d1d1d1;
  padding: 10px; }
  .quipucords-about-modal-list:focus, .quipucords-about-modal-list:hover {
    box-shadow: 0 0 5px #fafafa; }
  .quipucords-about-modal-list .list-unstyled li {
    display: flex; }
    .quipucords-about-modal-list .list-unstyled li strong {
      white-space: nowrap; }

/* _login.scss */
.login .alert {
  background: transparent;
  color: #fff; }

#brand img.login-title-img {
  min-width: 200px;
  max-width: 380px; }

#brand img.login-title-img-brand {
  width: 38%; }

/* _app.scss */
.App {
  text-align: center; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* _forms.scss */
.quipucords .has-error textarea.form-control {
  border-color: #cc0000; }

textarea.vertical-scroll {
  resize: vertical; }

.quipucords-dropdownselect.dropdown {
  width: 100%; }
  .quipucords-dropdownselect.dropdown .dropdown-menu,
  .quipucords-dropdownselect.dropdown .dropdown-toggle.btn {
    text-align: inherit;
    width: 100%; }
  .quipucords-dropdownselect.dropdown .dropdown-toggle.btn {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; }
    .quipucords-dropdownselect.dropdown .dropdown-toggle.btn > span:first-child {
      flex-direction: column;
      flex: 2;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 1px; }
  .quipucords-dropdownselect.dropdown .quipucords-dropdownselect-menuitem {
    margin-left: 0;
    margin-right: 0; }
  .quipucords-dropdownselect.dropdown .quipucords-dropdownselect-menuitemname {
    padding-left: 0;
    padding-right: 0; }
  .quipucords-dropdownselect.dropdown .quipucords-dropdownselect-menuitemcheck {
    padding-left: 0;
    padding-right: 0;
    text-align: right; }

.cloudmeter-touchspin.cloudmeter-scan-dialog-touchspin {
  width: 30%; }

.cloudmeter-touchspin.form-group {
  margin-left: 0;
  margin-right: 0; }

.cloudmeter-touchspin .cloudmeter-touchspin-input,
.cloudmeter-touchspin .cloudmeter-touchspin-max-button {
  left: -1px; }

.quipucords-form-control.form-control[readonly] {
  background-color: #fff;
  border: 0;
  color: inherit;
  font-weight: 700; }
  .quipucords-form-control.form-control[readonly][type=textarea] {
    resize: none; }

textarea.quipucords-form-control.form-control[readonly] {
  resize: none; }

.help-block abbr {
  text-decoration: none; }

/* _pageLayout.scss */
.navbar-pf-vertical .nav .nav-item-iconic {
  line-height: inherit; }

@media (min-width: 768px) {
  .nav-pf-vertical .list-group-item.collapsed-nav-item {
    display: none; } }

/* _scans.scss */
.scan-list-source-name {
  margin-left: 5px; }

.list-view-pf-left .pficon.list-view-pf-icon-sm.scan-item-status {
  border: none;
  margin-right: 10px; }

.scan-description {
  display: flex;
  width: 100%; }

.scan-status-icon {
  font-size: 16px;
  height: 16px;
  margin-right: 10px;
  margin-top: 6px; }

.scan-job-status-icon {
  margin-right: 5px; }
  .scan-job-status-icon.systems:before, .scan-job-status-icon.systems:before {
    color: #030303; }

.merge-reports-body {
  display: flex; }
  .merge-reports-body .merge-reports-icon {
    font-size: 3em;
    margin-right: 20px;
    margin-top: -10px; }
  .merge-reports-body .merge-reports-heading {
    margin-top: -2px; }

/* _views.scss */
.quipucords-content {
  bottom: 0;
  top: 60px;
  right: 0;
  position: fixed;
  left: 200px; }
  .collapsed-nav .quipucords-content {
    left: 75px; }
  .hidden-nav .quipucords-content {
    left: 0; }

.quipucords-view-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%; }
  .quipucords-view-container > .container-fluid {
    width: 100%; }
  .quipucords-view-container .toolbar-pf .refresh-button.btn-link {
    padding-left: 5px;
    padding-right: 5px; }
  .quipucords-view-container .toolbar-pf .last-refresh-time {
    font-size: 11px;
    margin-left: 5px;
    position: relative;
    top: -1px; }

.quipucords-list-container {
  flex: 1;
  padding: 0 20px;
  overflow-y: auto;
  width: 100%; }
  .quipucords-list-container .list-view-pf-checkbox {
    padding-top: 3px; }

.quipicords-list-view .list-view-pf-actions {
  margin-left: 0;
  text-align: right;
  width: 150px; }
  .quipicords-list-view .list-view-pf-actions .btn-link {
    color: #4d5258; }
    .quipicords-list-view .list-view-pf-actions .btn-link .pficon, .quipicords-list-view .list-view-pf-actions .btn-link .fa {
      font-size: 14px; }
    .quipicords-list-view .list-view-pf-actions .btn-link:hover, .quipicords-list-view .list-view-pf-actions .btn-link:focus {
      color: #0088ce; }
  .quipicords-list-view .list-view-pf-actions .dropdown.btn-group {
    margin-left: 10px; }

.quipicords-list-view .list-item-name {
  font-size: 16px;
  font-weight: 600;
  margin: -7px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.quipicords-list-view .list-view-pf-left .pficon.list-view-pf-icon-sm, .quipicords-list-view .list-view-pf-left .fa.list-view-pf-icon-sm {
  border: 0; }

.quipicords-list-view .list-group-item-container {
  display: flex;
  align-items: stretch;
  flex-direction: row; }
  .quipicords-list-view .list-group-item-container .container-fluid {
    padding-right: 40px;
    flex: 1 1 auto; }
    .quipicords-list-view .list-group-item-container .container-fluid .dropdown.btn-group .dropdown-toggle {
      color: #4d5258; }
      .quipicords-list-view .list-group-item-container .container-fluid .dropdown.btn-group .dropdown-toggle:hover, .quipicords-list-view .list-group-item-container .container-fluid .dropdown.btn-group .dropdown-toggle:focus {
        color: #0088ce; }
  .quipicords-list-view .list-group-item-container .pager {
    margin-top: 0;
    margin-bottom: 10px; }
  .quipicords-list-view .list-group-item-container .hidden-results {
    opacity: 0; }
    .quipicords-list-view .list-group-item-container .hidden-results span {
      white-space: nowrap; }
  .quipicords-list-view .list-group-item-container .quipucords-infinite-results {
    width: 100%; }
  .quipicords-list-view .list-group-item-container .quipucords-infinite-list {
    overflow-y: auto;
    min-height: 70px;
    max-height: 300px;
    border: solid 1px #d1d1d1;
    border-left: 0;
    border-right: 0;
    margin-top: 25px;
    padding: 5px 20px 5px 10px; }
    .quipicords-list-view .list-group-item-container .quipucords-infinite-list .btn-link {
      color: #4d5258; }
      .quipicords-list-view .list-group-item-container .quipucords-infinite-list .btn-link .pficon, .quipicords-list-view .list-group-item-container .quipucords-infinite-list .btn-link .fa {
        font-size: 14px; }
      .quipicords-list-view .list-group-item-container .quipucords-infinite-list .btn-link:hover, .quipicords-list-view .list-group-item-container .quipucords-infinite-list .btn-link:focus {
        color: #0088ce; }
  .quipicords-list-view .list-group-item-container .show-next-button {
    padding-left: 0; }
  .quipicords-list-view .list-group-item-container .blank-slate-pf {
    background: transparent;
    border: none;
    padding: 10px 20px; }
    .quipicords-list-view .list-group-item-container .blank-slate-pf .blank-slate-pf-icon {
      font-size: 22px;
      line-height: 22px;
      float: left; }
    .quipicords-list-view .list-group-item-container .blank-slate-pf .blank-slate-pf-title {
      font-size: 12px;
      line-height: 22px;
      text-align: left;
      margin-top: 0;
      margin-left: 10px;
      float: left; }
    .quipicords-list-view .list-group-item-container .blank-slate-pf .blank-slate-pf-info {
      float: left;
      margin-left: 10px; }

.list-view-pagination-top {
  padding: 0 14px; }

.toolbar-pf-results .quipucords-view-count {
  float: right;
  margin-right: 0; }

.quipucords-split-description {
  display: flex;
  flex-direction: row; }

.quipucords-description-left {
  width: 50%;
  margin-right: 10px; }
  .quipucords-description-left .list-group-item-heading {
    margin-right: 0px; }
    .quipucords-description-left .list-group-item-heading .btn-link {
      font-size: inherit; }
  .quipucords-description-left .list-group-item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0px; }

.quipucords-description-right {
  width: 50%; }

.quipucords-sources-popover-scroll .popover-content {
  max-height: 80px;
  overflow-y: auto; }

.quipucords-popover-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .quipucords-popover-list > li {
    word-wrap: break-word; }

.quipucords-sources-network-button {
  padding-left: 0; }

.blank-slate-pf.full-page-blank-slate {
  border: none; }

.blank-slate-pf.list-view-blank-slate {
  background-color: transparent;
  border: none;
  height: 100%;
  margin: 0 20px; }

.list-view-info-item-icon-count {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95px; }
  .list-view-info-item-icon-count.empty-count {
    font-style: italic;
    opacity: 0.8; }

.quipucords-scan-list-item .list-view-pf-left {
  overflow: hidden;
  padding-top: 6px;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px; }

.quipucords-credential-list-item .list-view-pf-description {
  margin-top: 4px; }

.quipucords-credential-list-item .list-view-pf-additional-info {
  margin-top: -3px; }

.blank-slate-pf button {
  width: 155px; }

.list-view-pf-actions .dropdown.btn-group {
  margin-left: 10px; }

.pficon.pficon-disconnected.is-error::before {
  color: #cc0000; }

/* _wizard.scss */
.quipucords-wizard .wizard-pf-main, .wizard-pf .wizard-pf-main {
  overflow: inherit; }

.quipucords-wizard abbr, .wizard-pf abbr {
  border-bottom: none; }

.quipucords-wizard .form-horizontal .form-group, .wizard-pf .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0; }

.quipucords-wizard .form-horizontal .form-group label, .wizard-pf .form-horizontal .form-group label {
  padding-right: 0; }

.quipucords-wizard .input-group .input-group-btn .btn, .quipucords-wizard .input-group .btn-file .btn, .wizard-pf .input-group .input-group-btn .btn, .wizard-pf .input-group .btn-file .btn {
  height: 26px; }

.quipucords-wizard .form-horizontal h3, .wizard-pf .form-horizontal h3 {
  margin-top: 0; }

@media (min-width: 768px) {
  .quipucords-wizard, .wizard-pf {
    margin: 30px auto;
    padding: 0;
    width: 600px; }
    .quipucords-wizard .wizard-pf-row, .wizard-pf .wizard-pf-row {
      min-height: 450px;
      height: auto; } }
